# 4.8: Grouping Data and Aggregating Variables

## Contents:
1. Importing data
2.
3.
4.
5.

### 1. Importing data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# creating path for data import

path = r'C:\Users\scott\Desktop\Data Analysis\CF Immersive\Python\Jan-2022 Instacart Basket Analysis'

In [3]:
# importing merged orders/products dataframe

ords_prods_merge = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_labels.pkl'))

In [5]:
# creating subset

df = ords_prods_merge[:1000000]

In [6]:
df.shape

(1000000, 19)

In [7]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

In [8]:
df[df['user_id'] == 82].sort_values('order_number')

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
58,1889835,82,1,3,15,NaN,196,6,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
529607,1889835,82,1,3,15,NaN,46149,9,0,both,Zero Calorie Cola,77,7,13.4,both,Mid-range product,Regularly busy,Slowest days,Most orders
64027,1889835,82,1,3,15,NaN,13176,1,0,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Most orders
619533,1889835,82,1,3,15,NaN,38928,4,0,both,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Regularly busy,Slowest days,Most orders
619534,762760,82,2,0,11,18.0,38928,3,1,both,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Busiest day,Busiest days,Most orders
64028,762760,82,2,0,11,18.0,13176,5,1,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Busiest day,Busiest days,Most orders
529608,499460,82,3,5,10,5.0,46149,1,1,both,Zero Calorie Cola,77,7,13.4,both,Mid-range product,Regularly busy,Regularly busy,Most orders
59,499460,82,3,5,10,5.0,196,2,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
619535,2728456,82,4,0,11,16.0,38928,2,1,both,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Busiest day,Busiest days,Most orders
60,2728456,82,4,0,11,16.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Most orders
64029,2728456,82,4,0,11,16.0,13176,3,1,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Busiest day,Busiest days,Most orders
538171,2728456,82,4,0,11,16.0,49235,11,0,both,Organic Half & Half,53,16,1.8,both,Low-range product,Busiest day,Busiest days,Most orders
529609,2728456,82,4,0,11,16.0,46149,6,1,both,Zero Calorie Cola,77,7,13.4,both,Mid-range product,Busiest day,Busiest days,Most orders
453294,2728456,82,4,0,11,16.0,30450,8,0,both,Creamy Almond Butter,88,13,3.2,both,Low-range product,Busiest day,Busiest days,Most orders
453295,80629,82,5,5,16,12.0,30450,3,1,both,Creamy Almond Butter,88,13,3.2,both,Low-range product,Regularly busy,Regularly busy,Most orders
64030,80629,82,5,5,16,12.0,13176,6,1,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Regularly busy,Most orders
619536,80629,82,5,5,16,12.0,38928,5,1,both,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Regularly busy,Regularly busy,Most orders
61,2653743,82,6,4,9,13.0,196,5,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders
619537,2232529,82,7,1,11,11.0,38928,3,1,both,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Regularly busy,Busiest days,Most orders
64031,2232529,82,7,1,11,11.0,13176,4,1,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Busiest days,Most orders
538172,2232529,82,7,1,11,11.0,49235,5,1,both,Organic Half & Half,53,16,1.8,both,Low-range product,Regularly busy,Busiest days,Most orders
538173,1358880,82,9,1,10,30.0,49235,2,1,both,Organic Half & Half,53,16,1.8,both,Low-range product,Regularly busy,Busiest days,Most orders
453296,1358880,82,9,1,10,30.0,30450,4,1,both,Creamy Almond Butter,88,13,3.2,both,Low-range product,Regularly busy,Busiest days,Most orders
62,1358880,82,9,1,10,30.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders
64032,1358880,82,9,1,10,30.0,13176,6,1,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Busiest days,Most orders
453297,343588,82,10,2,11,1.0,30450,4,1,both,Creamy Almond Butter,88,13,3.2,both,Low-range product,Regularly busy,Regularly busy,Most orders
538174,343588,82,10,2,11,1.0,49235,2,1,both,Organic Half & Half,53,16,1.8,both,Low-range product,Regularly busy,Regularly busy,Most orders
63,343588,82,10,2,11,1.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
538175,2500881,82,11,5,16,10.0,49235,7,1,both,Organic Half & Half,53,16,1.8,both,Low-range product,Regularly busy,Regularly busy,Most orders
64033,2500881,82,11,5,16,10.0,13176,1,1,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Regularly busy,Most orders
64034,1493222,82,12,4,19,6.0,13176,2,1,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Least busy,Slowest days,Average orders
538176,1501349,82,13,0,10,10.0,49235,3,1,both,Organic Half & Half,53,16,1.8,both,Low-range product,Busiest day,Busiest days,Most orders
64035,1501349,82,13,0,10,10.0,13176,2,1,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Busiest day,Busiest days,Most orders
619538,1501349,82,13,0,10,10.0,38928,8,1,both,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Busiest day,Busiest days,Most orders
453298,1501349,82,13,0,10,10.0,30450,10,1,both,Creamy Almond Butter,88,13,3.2,both,Low-range product,Busiest day,Busiest days,Most orders
453299,1854627,82,14,4,10,11.0,30450,7,1,both,Creamy Almond Butter,88,13,3.2,both,Low-range product,Least busy,Slowest days,Most orders
538177,1854627,82,14,4,10,11.0,49235,3,1,both,Organic Half & Half,53,16,1.8,both,Low-range product,Least busy,Slowest days,Most orders
64036,1854627,82,14,4,10,11.0,13176,2,1,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Least busy,Slowest days,Most orders
64037,3034663,82,15,2,11,12.0,13176,4,1,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Regularly busy,Most orders
619539,3034663,82,15,2,11,12.0,38928,7,1,both,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Regularly busy,Regularly busy,Most orders
64,3034663,82,15,2,11,12.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
64038,2222448,82,16,1,8,13.0,13176,2,1,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Busiest days,Average orders
538178,2222448,82,16,1,8,13.0,49235,3,1,both,Organic Half & Half,53,16,1.8,both,Low-range product,Regularly busy,Busiest days,Average orders
64039,760382,82,17,1,12,14.0,13176,2,1,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Busiest days,Most orders
538179,760382,82,17,1,12,14.0,49235,3,1,both,Organic Half & Half,53,16,1.8,both,Low-range product,Regularly busy,Busiest days,Most orders
453300,760382,82,17,1,12,14.0,30450,6,1,both,Creamy Almond Butter,88,13,3.2,both,Low-range product,Regularly busy,Busiest days,Most orders
619540,760382,82,17,1,12,14.0,38928,7,1,both,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Regularly busy,Busiest days,Most orders
65,147262,82,18,1,13,7.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders
538180,3144004,82,19,2,15,8.0,49235,4,1,both,Organic Half & Half,53,16,1.8,both,Low-range product,Regularly busy,Regularly busy,Most orders
64040,3144004,82,19,2,15,8.0,13176,2,1,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Regularly busy,Most orders
66,3144004,82,19,2,15,8.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
619541,3144004,82,19,2,15,8.0,38928,5,1,both,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Regularly busy,Regularly busy,Most orders

In [9]:
df['order_number'].value_counts(dropna = False)

1     60085
2     57974
3     57431
4     50916
5     46258
      ...
95      557
97      544
96      543
99      490
98      490
Name: order_number, Length: 99, dtype: int64

In [9]:
# grouping by product_name

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [21]:
df.groupby('department_id').agg({'order_number': ['mean','min','max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [10]:
# create max_order column

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [13]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [14]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [16]:
ords_prods_merge[['user_id','loyalty_flag','order_number']].head(50)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14