# 4.6 IC Combining and Exporting Data #2

## Contents:

1. Importing data
2. Checking dimensions
3. Merging data
4. Exporting data

## 1. Importing data

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# creating path for data import

path = r'C:\Users\scott\Desktop\Data Analysis\CF Immersive\Python\Jan-2022 Instacart Basket Analysis'

In [4]:
# importing merged orders/products dataframe

df_merged_large = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
# importing cleaned products data

df_prods = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'products_checked.csv'))

## 2. Checking data dimensions

In [6]:
df_merged_large.shape

(32434489, 10)

In [7]:
df_prods.shape

(49672, 6)

In [8]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [9]:
# delete extra df_prods index column

del df_prods['Unnamed: 0']

In [10]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## 3. Merging data

In [11]:
# merging df_merge_large with df_prods on 'product_id'

df_orders_products = df_merged_large.merge(df_prods, on = 'product_id', indicator = 'exists')

In [12]:
# checking output

df_orders_products.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both

In [15]:
# check indicator counts

df_orders_products['exists'].value_counts()

both          32404859
left_only            0
right_only           0
Name: exists, dtype: int64

#### 29,630 (0.09%) records from df_merged_large did not get merged with df_prods. I assume this is due to products that were ordered but are not listed in df_prods.

## 4. Exporting data

In [16]:
# exporting merged dataframe as .pkl due to its large size

df_orders_products.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))