# 4.6 Combining and Exporting Data #1

## Contents:
1. Import the data set into Jupyter as a new dataframe: df_ords_prior.
2. Check the dimensions of the imported dataframe.
3. Merge the dataframe with your df_ords dataframe.
4. Use the indicator argument to check whether there was a full match between the two dataframes.
5. Export the merged dataframe as .pkl

## 1. Import data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# creating path for data import

path = r'C:\Users\scott\Desktop\Data Analysis\CF Immersive\Python\Jan-2022 Instacart Basket Analysis'

In [7]:
# importing new orders_products data

df_ords_prior = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [8]:
# importing new orders data

df_ords = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

## 2. Check dimensions pf data

In [9]:
# check output of new dataframe

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [10]:
# check shape of new dataframe

df_ords_prior.shape

(32434489, 4)

In [14]:
# check output of df_ords

df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [13]:
# delete extra index columm

del df_ords['Unnamed: 0']

In [15]:
# check shape of df_ords

df_ords.shape

(3421083, 6)

## 3. Merge the dataframes

In [16]:
# merging df_ords with df_ords_prior

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [17]:
# check output 

df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

## 4. Check for full match

In [18]:
# check indicator counts

df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

## 5. Export merged dataframe as .pkl

In [19]:
# exporting merged dataframe as .pkl due to its large size

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))