In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# creating path for data import

path = r'C:\Users\scott\Desktop\Data Analysis\CF Immersive\Python\Jan-2022 Instacart Basket Analysis'

In [3]:
# importing merged orders/products/customers dataframe

df = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_cust_Jan_21_2022.pkl'))

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 31 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int64
 1   user_id                int64
 2   order_number           int64
 3   orders_day_of_week     int64
 4   order_hour_of_day      int64
 5   days_since_last_order  float64
 6   product_id             int64
 7   add_to_cart_order      int64
 8   reordered              int64
 9   product_name           object
 10  aisle_id               int64
 11  department_id          int64
 12  prices                 float64
 13  price_range_loc        object
 14  busiest_day            object
 15  busiest_days           object
 16  busiest_period_of_day  object
 17  max_order              int64
 18  loyalty_flag           object
 19  avg_price              float64
 20  spending_flag          object
 21  median_days_since      float64
 22  frequency_flag         object
 23  Gender                 object
 24  STATE                  object
 25  Age                    int64
 26  date_joined            object
 27  n_dependants           int64
 28  fam_status             object
 29  income                 int64
 30  cust_merge             category
dtypes: category(1), float64(4), int64(14), object(12)
memory usage: 7.5+ GB

In [5]:
df.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices,max_order,avg_price,median_days_since,Age,n_dependants,income
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.239973e+07,3.240486e+07,3.240486e+07,3.240485e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,2.559866e+04,8.352547e+00,5.895873e-01,7.119612e+01,9.919792e+00,7.790994e+00,3.305217e+01,1.198023e+01,1.039776e+01,4.946527e+01,1.501896e+00,9.943773e+04
std,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,1.408400e+04,7.127071e+00,4.919087e-01,3.821139e+01,6.281485e+00,4.241809e+00,2.515525e+01,8.324227e+01,7.131754e+00,1.848558e+01,1.118865e+00,4.305727e+04
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,2.590300e+04
25%,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00,1.300000e+01,7.387298e+00,6.000000e+00,3.300000e+01,1.000000e+00,6.700400e+04
50%,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530200e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00,2.600000e+01,7.824786e+00,8.000000e+00,4.900000e+01,2.000000e+00,9.661800e+04
75%,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01,4.700000e+01,8.254023e+00,1.300000e+01,6.500000e+01,3.000000e+00,1.279120e+05
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,2.500000e+01,9.900000e+01,2.500542e+04,3.000000e+01,8.100000e+01,3.000000e+00,5.939010e+05

In [6]:
df['order_id'] = df['order_id'].astype(np.uint32)

In [7]:
df['user_id'] = df['user_id'].astype(np.uint32)

In [8]:
df['order_number'] = df['order_number'].astype(np.uint8)

In [9]:
df['orders_day_of_week'] = df['orders_day_of_week'].astype(np.uint8)

In [10]:
df['orders_day_of_week'] = df['orders_day_of_week'].astype(np.uint8)

In [11]:
df['order_hour_of_day'] = df['order_hour_of_day'].astype(np.uint8)

In [12]:
df['days_since_last_order'] = df['days_since_last_order'].astype(np.float32)

In [13]:
df['product_id'] = df['product_id'].astype(np.uint32)

In [14]:
df['add_to_cart_order'] = df['add_to_cart_order'].astype(np.uint16)

In [15]:
df['reordered'] = df['reordered'].astype(np.uint8)

In [16]:
df['aisle_id'] = df['aisle_id'].astype(np.uint16)

In [17]:
df['department_id'] = df['department_id'].astype(np.uint8)

In [18]:
df['prices'] = df['prices'].astype(np.float32)

In [19]:
df['max_order'] = df['max_order'].astype(np.uint8)

In [20]:
df['avg_price'] = df['avg_price'].astype(np.float32)

In [21]:
df['median_days_since'] = df['median_days_since'].astype(np.float32)

In [22]:
df['Age'] = df['Age'].astype(np.uint8)

In [23]:
df['n_dependants'] = df['n_dependants'].astype(np.uint8)

In [24]:
df['income'] = df['income'].astype(np.uint32)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 31 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               uint32
 1   user_id                uint32
 2   order_number           uint8
 3   orders_day_of_week     uint8
 4   order_hour_of_day      uint8
 5   days_since_last_order  float32
 6   product_id             uint32
 7   add_to_cart_order      uint16
 8   reordered              uint8
 9   product_name           object
 10  aisle_id               uint16
 11  department_id          uint8
 12  prices                 float32
 13  price_range_loc        object
 14  busiest_day            object
 15  busiest_days           object
 16  busiest_period_of_day  object
 17  max_order              uint8
 18  loyalty_flag           object
 19  avg_price              float32
 20  spending_flag          object
 21  median_days_since      float32
 22  frequency_flag         object
 23  Gender                 object
 24  STATE                  object
 25  Age                    uint8
 26  date_joined            object
 27  n_dependants           uint8
 28  fam_status             object
 29  income                 uint32
 30  cust_merge             category
dtypes: category(1), float32(4), object(12), uint16(2), uint32(4), uint8(8)
memory usage: 4.5+ GB

In [26]:
# exporting new dataframe as .pkl due to its large size

df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_cust_dtypes_reduced_Jan_24_2022.pkl'))